.main{
  padding: 180px 7.5vw 20vh 7.5vw;
  background: #001A3A;
  color: white;
}

.main h2 {
  font-size: 32px;
  margin-bottom: 2px;
  border-bottom: 2px solid #717C89;

}
.main .address{
  font-size: 20px;
  margin-top: 2px;
}


/*-------------------------Gallery Grid Styling------------------------- */
.vbox-figlio {
  width: 50vw;
  height: 45vh;
}

/*-------------------------- Grid 1 -------------------------- */
.gallery-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.small-grid .gallery-grid-item {
  flex: 1 1 30% !important; /*Creates 4 Columns*/
  margin: 10px;
  max-width: 500px;
}
/*-------------------------- Grid 2 -------------------------- */
.large-grid .gallery-grid-item{
  flex: 1 1 20% !important; /*Creates 4 Columns*/
  margin: 10px;
  max-width: 500px;
}
/*-------------------------- Grid 3 -------------------------- */
.medium-grid .gallery-grid-item {
  flex: 1 1 25% !important; /*Creates 4 Columns*/
  margin: 10px;
}
/*-------------------- General Grid item Styling ---------------------- */
.gallery-grid-item img{
  display: block;
  width: 450px;
  height: 350px;
  min-width: 100%;
}

@media screen and (max-width: 1350px) {
  .gallery-grid-item img{
    width: 300px;
    height: 200px;
    max-width: 100%;
  }
}

.gallery-grid-item a{
  display: block;
  font-size: 16px;

  color: #eff;
  text-decoration: none;
}

.caption {
  border-bottom: 1px solid #eff;
  padding: 5px;
}

@-webkit-keyframes tracking-in-expand{
  0% {
    letter-spacing:-.5em;
    opacity:0
    }
  40% {
    opacity:.6
  }

  100% {
    opacity:1
    }
}

@keyframes tracking-in-expand{
  0% {
    letter-spacing:-.5em;
    opacity:0
  }
  40% {
    opacity:.6
  }
  100% {
    opacity:1
  }
}


@-webkit-keyframes slide-in-bottom{
  0% {
    -webkit-transform:translateY(1000px);
    transform:translateY(1000px);
    opacity:0
  }
  100%{
    -webkit-transform:translateY(0);
    transform:translateY(0);
    opacity:1
  }
}

@keyframes slide-in-bottom{
  0% {
    -webkit-transform:translateY(1000px);
    transform:translateY(1000px);
    opacity:0
  }
  100% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
    opacity:1
  }
}

/* Mobile Layout */
@media screen and (max-width: 768px) {
  .main {
    padding-top: 14vh;
  }
  .small-grid .gallery-grid-item,
  .medium-grid .gallery-grid-item,
  .large-grid .gallery-grid-item {
    flex: 1 1 100% !important; /*Creates 1 Column*/
  }
  .gallery-grid {
      margin: 0 5vw;
  }

}
