/* General Styling */
html, body {
    height:100%;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #002A5C;
}

/* Mobile: fit to window */
.wrapper {
  overflow-x: hidden;
}
a {
  color: white;
}
a:hover, a:focus{
  cursor: pointer;
}
ol {
  list-style-type: none;
  padding: 0;
}

/* top navigation bar */
nav {
  color: white;
  position: fixed;
  height: 18vh;
  top: 0;
  display: block;
  transition: top 0.3s ease-in-out;
  z-index: 10;
  width: 100%;
  margin-bottom: 150px;
}
nav hr {
  display: none;
}
.nav-up{
  top: -160px;
}

.nav-down{
  top: 0px;
}

.desktop_nav{
  display: flex;
  flex-direction: row;
  background-color: #002A5C;

  height: 70%;
  padding: 0 4vw;
  width: 100vw;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.websites {
  display: flex;
  flex-direction: row;
  align-items: baseline;

}
/*Skip to main content link*/
#skip_link {
  z-index: 100;
  font-size: 20px;
  position: fixed;
  top: -50px;
  left: 5vw;
  padding: 10px;
  text-decoration: none;

  color: white;
  background-color: #ed5f00;
  border-radius: 0px 0px 3px 3px;

  transition: .5s ease;
}

#skip_link:hover, #skip_link:focus {
  top: 0;
}

/*Register Now Hot Button*/
#hot-button {
  border: 5px solid #ed5f00;
  border-radius: 15px;
  margin-left: auto;
  margin-right: 10vw;
  width: 200px;

  padding: 10px;
  text-decoration: none;
  color: white;

  font-size: 18px;
  text-transform: uppercase;
  text-align: center;

  transition: 0.3s;
}
#hot-button:hover, #hot-button:focus {

  background-color: #ed5f00;
}

#menu_icon {
  display: block;
  margin-left: auto;

  color: white;
  text-align: right;
  padding-right: 10vw;

  text-decoration: none;
  font-size: 20px;
}

.vertical_line{
    border-left: 1px solid #A9ACAF;
    margin-top: 20px;
    margin-bottom: 16px;
    height: 80px;
}
#uoft_logo{
  width: 180px;
  padding: 12px;
}
#ats_logo {
  width: 200px;
  padding-bottom: 8px;
}

.box {
  background-color: #00245c;
  color: white;
  padding: 2vh 2vw;
  margin: 10px 0px 40px 0px;
  text-align: center;
  font-weight: bold;
}

#menu_icon {
  flex: 1 1 0;
  margin-right: auto;
}

#menu_icon i {
  font-size: 42px;
}
/*------------------- mobile/tablet top nav bar styling ----------------------*/
nav #mobile_nav {
  display: none;
}
.overlay {
  height: 100vh;

  position: relative;
  z-index: 10;
  left: 0;
  top: -14vh;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  /* width: 100%; */
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 28px;
  color: rgba(255,255,255,0.8);
  display: block;
  transition: 0.3s;
}

.overlay-content li:not(:last-of-type){
  border-bottom: 2px solid white;
}

.overlay a:hover, .overlay a:focus {
  color: rgba(255,255,255,1);
}

.overlay .closebtn {
  position: absolute;
  top: -2vh;
  right: 1vw;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/* Mobile navigation Component styling */
#mobile_nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ------------------------------------------------------- */
#menu_icon {
  display: none;
}


/* ---------------------------------------------------------------------------*/

/* sub navigation bar */
#sub_nav {
  background-color: #00234C;
  height: 30%;
  /* grid-row: sub-nav-start / main-start; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#sub_nav a {
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 22px;
  transition: 0.3s;
}
#sub_nav a:hover, #sub_nav a:focus {
  color: #CBCFD4;
  border-bottom: 6px solid #CBCFD4;
}

#sub_nav a.active-tab {
  color: #B1B7BE;
  border-bottom: 6px solid #B1B7BE;
}



/* Main Content styling is on seperate css files */
.main{
  background-color: #ffffff;
  /* padding-top: 14vh; */
}

/* Contact Information */
#contact{
  background-color: #002A5C;
  /* grid-row: main-end / footer-start; */
  padding: 3vh 20vw 10vh 20vw;
  margin: 0;
  color: white;
  letter-spacing: 1px;
}
#contact h3 {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}
#contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
}
.contact-content{
  flex: 1 1 0;
  padding: 0px 10px 0px 62px;
  line-height: 130%;
}
.contact-content .h4{
  font-size: 20px;
  margin: 1px;
  font-weight: bold;
}

.map {
  flex: 1 1 0;
  overflow: hidden;
  background:none!important;
  height:30vh;
  width:20vw;
  padding: 16px 20px;
}

/* Related Resources */
.resources-container {
  background-color: #E8E8E8;
  /* grid-row: footer-end / footer-start; */
  padding: 3vh 7.5vw 10vh 7.5vw;
  text-align: center;
  line-height: 4vh;
}

.resources-container h3 {
  letter-spacing: 2px;
  font-size: 26px;
}

.external-links {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: baseline;
  flex-wrap: nowrap;
}

.link-card{
  flex: 1 1 0;
}

.link-card ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link-card a {
  text-decoration: none;
  color: #002A5C;
  transition: 0.3s
}

.link-card a:hover, .link-card a:focus{
  border-bottom: 1px solid #002A5C;
}
.resources-container h4{
  text-align: center;
}

ul>li {
  margin-bottom: 10px;
}

/************** Accessible Accordion Styling*************/
.Accordion {
  margin: 30px 0px;
}

.Accordion > * + * {
    border-top: 1px solid hsl(0, 0%, 82%);
}

.Accordion-trigger {
    background: none;
    border: 0;
    color: #002A5C;
    display: block;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 1em 1.5em;
    position: relative;
    text-align: left;
    width: 100%;
}


.Accordion dt:first-child .Accordion-trigger {
    border-radius: .3em .3em 0 0;
}

.Accordion-trigger:focus,
.Accordion-trigger:hover {
    background: hsl(0, 0%, 93%);
}

.Accordion-title {
  display: block; /* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8295099/ */
  pointer-events: none;
  font-size: 20px;
  text-align: left;
}

.Accordion-icon {
    border: solid hsl(0, 0%, 62%);
    border-width: 0 2px 2px 0;
    height: .5rem;
    pointer-events: none;
    position: absolute;
    right: 1.5em;
    top: 50%;
    transform: translateY(-60%) rotate(45deg);
    width: .5rem;
}

.Accordion-trigger:focus .Accordion-icon,
.Accordion-trigger:hover .Accordion-icon {
    border-color: hsl(0, 0%, 13%);
}

.Accordion-trigger[aria-expanded="true"] .Accordion-icon {
    transform: translateY(-50%) rotate(-135deg);
}

.Accordion-panel {
    margin: 0;
    padding: 1em 1.5em;
}

.Accordion-panel a{
  text-decoration: underline;
  float: none;
  color: #456488;
  font-weight: bold;
}

.Accordion-panel a:hover, .panel a:focus{
  color: #00142A;
  border: none;
}
.Accordion-panel a:focus{
  color: #00142A;
  border: none;
}

/* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
.Accordion-panel[hidden] {
  display: none;
}
/* ------------------------------------------------------------------------- */
/*Hamburger Menu Show*/
@media screen and (max-width: 1260px) {
  .main{
    padding-top: 14vh;
  }
  #hot-button {
    display: none;
  }
  nav {
    height: 14vh;
  }
  .desktop_nav{
    height: 100%;
    align-items: space-between;
  }
  #uoft_logo {
    width: 220px;
    padding-bottom: 0;
  }
  #menu_icon {
    display: block;
    /* padding-left: 10vw; */
  }
  #sub_nav {
    display: none;
  }
  #top_nav {
    display: none;
  }
  /* Header Styling */
  .vertical_line {
    display: none;
  }
  #ats_logo{
    width: 180px;
    margin-bottom: 0px;
    padding: 0px;
  }

}
/* Mobile Layout */
@media screen and (max-width: 768px) {
  .websites {
    flex-direction: column;
    align-items: center;
  }
/* Resources */
  .external-links {
    flex-direction: column;
    align-items: center;
  }
  .resources-container {
    padding: 3vh 3.5vw 2vh 3.5vw;
  }
  .resources-container h6{
    font-size: 22px;
    margin: 0px 0px;
  }
  .link-card{
    font-size: 14px;
  }

/* Contact */
  .map {
    display: none;
  }
  #contact{
    padding: 2vh 4vw;
  }
  #contact h5, h6{
    font-size: 20px;
  }
  .contact-content {
    font-size: 14px;
  }

}

@media (min-width: 768px) and (max-width: 1350px) {

  .contact-content{
    font-size: 14px;
  }

  #contact h5{
    font-size: 20px;
  }
  #contact h6{
    font-size: 16px;
    margin-top: 0;
  }
}

/* Responsive Layout Navigation Bars*/
@media screen and (max-width: 1700px){
  #uoft_logo{
    width: 150px;
  }

  #sub_nav a {
    font-size: 20px;
  }
}
