.main {
  padding-top: 220px;
}
.main h1 {
  padding-left: 7.5vw;
}
ol {
  list-style-type: none;
}
.container {
  margin: 20px 7.5vw 50px 7.5vw;

}

h3 {
  font-size: 26px;
  text-transform: capitalize;
}
/*Back to Top anchor links*/
.anchor {
  margin-bottom: 30px;
  color: #002A5C;
  float: right;
  text-decoration: none;
  font-size: 16px;
  transition: 1s;
}
.anchor:hover, .anchor:focus{
  border-bottom: 1px solid #002A5C;
}

/* Internal Navigation Styling */
#internal_nav-container {
  background: #4E5864;
}
#internal_nav-container h2{
  color: white;
  font-size: 28px;
  margin:0;
  padding: 30px 6.2vw 0px 6.2vw;
}
.internal_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 6.2vw;
}
.nav-card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-card li {
  margin: 10px;
}
.nav-card a{
  color: #FCFCF4;
  text-decoration: none;
  font-size: 18px;
  transition: 1s;
}
.nav-card a:hover, .nav-card a:focus{
  border-bottom: 1px solid #E8E8E8;
}
/* ---------------------------------------- */
/* banner styling */
.banner-container {
  display: flex;
  flex-direction: column;
  background: #995441;
  color: white;
  margin: 50px 7.5vw;
}

.emphasize{
  background: white;
  color: #AA6052;
  text-align: center;
  font-size: 18px;
  padding: 20px;
}

.emphasize a{
  border-radius: 5px;
  color: #AA6052;
  padding: 0 3px;
}
.emphasize a:hover, .emphasize a:focus{
  background: #AA6052;
  color: white;
  border: 1px solid #AA6052;
}
.banner {
  display: flex;
  flex-direction: row;
  padding: 20px 7.5vw;
}
.banner .material-icons {
  color: white;
  font-size: 80px;
}

.banner p {
  padding: 10px 20px;
  font-size: 25x;
}

.banner a{
  color: white;
  transition: 1s;
}

.banner a:hover,.banner a:focus{
  font-weight: bold;
  transition: 0.6s;
}

/* Card Styling */
.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  flex: 1 1 25% !important; /*Creates 4 Columns*/
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.card5 {
  flex: 1 1 25% !important; /*Creates 2 Columns*/
  padding: 10px;
  margin: 10px;
  text-align: left;
}

.card p, .card-2 p{
  text-align: left;
}

.card ul, .card-2 ul{
  text-align: left;
}

/* Note Sections */
.note {
  font-style: italic;
  text-align: justify;
}

.card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid #002A5C;
}
.card-title h4 {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  margin: 5px 15px;
}
/* Icons for first set of Cards */
.material-icons.medium {
  font-size: 50px;
  color: #00245C;
}

/* -------------------------------------------------------------------------- */

.bar {
  background: #B8C3D1;
  color: #383F51;
}

.bar a {
  margin: 30px 0px;
  color: #002A5C;
  font-weight: 400;
  text-decoration: none;
  font-size: 16px;
  transition: 1s;
}
.bar a:hover, .bar a:focus{
  border-bottom: 1px solid #002A5C;
}
/* ------------------------------------------------------------------------- */
.list-container {
  background: #383F51;
  color: #fff;
  padding: 2vh 7.5vw;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 20px;
}

.item h4 {
  font-size: 36px;
  margin: 0px 10px;
}
/* -------------------------------------------------- */
#scheduling {
  background-color: #B9C4D2;
}
#during {
  background-image: url("images/notebook.png");
  background-repeat: repeat;
  background-size: 600px;
}
#integrity {
  background-image: url("images/notebook.png");
  background-repeat: repeat;
  background-size: 600px;
}
section {
  padding: 2vh 7.5vw 5vh 7.5vw;
}

#violation > p > a {
  color: #002A5C;
}

@media (min-width: 768px) and (max-width: 1200px){
  .card {
    flex: 1 1 35% !important; /*Creates 1 Column*/
  }
}
/* Mobile Layout */
@media screen and (max-width: 768px) {
  .main {
    padding-top: 14vh;
  }
  .card {
    flex: 1 1 100% !important; /*Creates 1 Column*/
  }
  .card5 {
    flex: 1 1 100% !important; /*Creates 4 Columns*/

  }
}
